@font-face {
  font-family: RW-EL;
  src: url('./Raleway-ExtraLight.ttf');
}

@font-face {
  font-family: RW-L;
  src: url('./Raleway-Light.ttf');
}

@font-face {
  font-family: RW-R;
  src: url('./Raleway-Regular.ttf');
}

@font-face {
  font-family: RW-SB;
  src: url('./Raleway-SemiBold.ttf');
}

html, body {
  height: 100%;
  background-color: #f8f8f8;
  color: #2a2a2a;
}

a:visited {
  color: #2a2a2a;
}

h1 {
  font-family: RW-EL;
  font-size: 26px;
  margin: 0;
  font-weight: 100;
}

.orange {
  color: #ff6200;
}

.blue {
  color: #00afe1;
}

.menu.current-page {
  color: grey;
}

.site-container {
  font-family: RW-R;
  padding-left: 25px;
  padding-right: 25px;
  height: 100%;
  overflow: scroll;
}

.top-bar {
  height: 60px;
  width: 100%;
  display: table;
}

.title-container {
  display: table-cell;
  vertical-align: middle;

}

.menu-container {
  font-family: RW-EL;
  float: right;
}

.homepage .menu-container {
  position: absolute;
  top: 170px;
  right: 50%;
  transform: translateX(50%);
  text-align: center;
}

/* Below is the fancy stuff to make the gradient work on everything but iOS Safari and IE8.
Must Depreciate gracefully with solid border.
!!!!! */

.homepage .menu-container:before, .homepage .menu-container:after {
  content: "";
  position: absolute;
}
.homepage .menu-container:before {
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background-image: -webkit-gradient(left,  #ff6200 0%, #00afe1 100%);
  background-image: -webkit-linear-gradient(left,  #ff6200 0%, #00afe1 100%);
  background-image: -moz-linear-gradient(left,  #ff6200 0%, #00afe1 100%);
  z-index: -2;
}
.homepage .menu-container:after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #f8f8f8;
  z-index: -1;
}

/*.homepage .inner-menu-container {
  background-color: white;
  position: absolute;
  top: 170px;
  right: 50%;
  transform: translateX(50%);
}*/


/*  border-color: -moz-linear-gradient(left,  #ff6200 0%, #00afe1 100%) #00afe1 -moz-linear-gradient(left,  #ff6200 0%, #00afe1 100%) #ff6200;

  border-color: -webkit-linear-gradient(left,  #ff6200 0%, #00afe1 100%) #00afe1 -webkit-linear-gradient(left,  #ff6200 0%, #00afe1 100%) #ff6200;

  border-color: linear-gradient(left,  #ff6200 0%, #00afe1 100%) #00afe1 linear-gradient(left,  #ff6200 0%, #00afe1 100%) #ff6200;*/

.homepage .menu {
  padding: 0;
  margin: 40px;
  line-height: 1.6;
}

.homepage .menu li {
  margin: 0;
  display: inherit;
  font-size: 2.5em;
}

.menu {
/*  color: red;*/
}

.menu li {
  font-size: 18px;
  margin-left: 17px;
  display: inline;
}

.menu li:hover {
  border-bottom: thin solid #00afe1;
}

.homepage  .menu-container li:hover {
  border-bottom: none;
}

.menu li a {
  text-decoration: none;
}

.content-container {
/*  height: 100%;*/
}

.selected-work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  height: 100%;
  max-width: 100%;
}

.selected-work a {
  max-width: 50%;
  width: calc(50% - 4px);
  position: relative;
  transition: all 0.5s;
  box-sizing: border-box;
  margin: 0 2px 4px 2px;
}

.video-thumb {
  background-size: cover;
  cursor: pointer;
  transition: all 0.5s;
  background-position: center top;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  width: 100%;
  padding-bottom: 56.25%;
  background-image: url("../img/mock/v1.jpg");
  z-index: 900;
}

.video-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: all 0.5s;
}

.video-thumb:hover .video-overlay {
  opacity: 1;
}

.press-content {
  padding-top: 48px;
  text-align: -webkit-center;
  width: 70%;
  margin: auto;
}

.bio {
  margin: 0;
}